body {
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f0f0f0; /* Light gray background */
}

.container {
    background-color: #fff;
    background-color: #e0e0e0;
    padding: 50px;
    border-radius: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
}



h1 {
    margin-bottom: 20px;
}

.input-area {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="password"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 250px; /* Increased width */
}

button {
    padding: 10px 20px;
    background-color: #025189; /* Green */
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #025189;
}

#backBtn {
    position: absolute;
    top: 10px;
    left: 10px;
}

.contact-info {
    margin-top: 20px;
}

/* Media query for responsiveness */
@media (max-width: 600px) {
    .container {
        width: 90%; /* Make containers take up more space on smaller screens */
    }
}
